html {
    background-image: url('../img/star_background.jpg');
    background-position-x: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

nav {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    list-style-type: none;
    text-decoration: none;
}

#selected-nav {
    background: gray;
}

nav a {
    background: white;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    display:block;
    box-shadow: var(--shadow);
}
